:root {
    --white: white;
    --pink: rgb(150, 111, 111);
    --shadow: rgba(0, 0, 0, 0.74);
    --darkGrey: #3e4246;
    --grey: rgb(146, 145, 145);
}

body {
    font-family: 'Bitter', serif;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.app {
    display: grid;
    grid-template-columns: 20% 80%;
}

.navigation {
    position: fixed;
    top: 0;
    right: 60px;
    width: min-content;
    transition: 1s ease-in-out;
    z-index: 10;
    text-align: center;
}

.navigation-active {
    text-decoration: underline;
}

.navigation__title {
    font-size: 34px;
    padding: 10px;
    background-color: var(--white);
    display: block;
    color: var(--pink);
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 1px 1px 1px var(--shadow);
    transition: 0.5s ease-in-out;
    z-index: -10;
    margin-bottom: 5px;
}

.navigation:hover .navigation__title {
    background-color: var(--darkGrey);
}

.navigation__menu {
    padding: 0;
    background-color: var(--darkGrey);
    list-style-type: none;
    position: absolute;
    font-size: 17px;
    border-radius: 5px;
    transition: 1s ease-in-out;
    display: none;
    margin: 0;
}

.navigation:hover .navigation__menu {
    display: block;
}

.navigation__menu_item {
    margin-bottom: 10px;
}

.navigation__menu_item_link {
    text-align: center;
    text-decoration: none;
    color: #efefef;
    font-size: 18px;
}

.navigation__menu_item_link:hover {
    color: var(--pink);
}

.sideBar {
    box-shadow: 2px 3px 35px var(--shadow);
    border-radius: 5px;
    margin-left: 20px;
    padding: 20px;
}

.sideBar-grey {
    background-color:var(--grey);
    height: 100%;
    border-radius: 5px;
}

.person__photo {
    padding-top: 30px;
    text-align: center;
}

.person__photo_image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    text-align: center;
    background-size: cover;
    transition: 0.5s;
}

.person__photo_image:hover {
    box-shadow: 2px 2px 3px 3px var(--shadow);
}

.person__info {
    text-align: center;
}

.person__info_title {
    font-size: 28px;
    color:  var(--white);
    text-decoration: underline;
}

.person__info_description {
    font-size: 20px;
    color: var(--white);
}

.person__info_label {
    font-size: 25px;
    color: var(--white);
    padding-top: 20px;
}

.person__links {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.person__links_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.social {
    position: relative;
}

.social:hover .social__img {
    transform: scale(1.1);
}

.social__img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}

.social__link {
    font-size: 14px;
    color: var(--white);
    margin: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
}

.social:hover .social__link {
    visibility: visible;
}

.main {
    padding: 20px 20px 20px 50px;
    box-shadow: 2px 3px 35px var(--shadow);
    border-radius: 5px;
    margin: 0 40px 0 40px;
}

.main-white {
    background-color: var(--white);
    max-width: 100%;
    height: max-content;
}

.main__title {
    font-size: 32px;
    color: var(--darkGrey);
}

.main__section_title {
    padding-top: 20px;
}

.main__section_item {
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.main__section_link {
    font-size: 20px;
    color: var(--pink);
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.main__section_link:hover {
    color: var(--darkGrey);
    text-decoration: underline;
}

.certificates {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.certificates__image {
    width: 300px;
    height: 200px;
    padding: 0 50px 0 40px;
    background-size: cover;
    transition: 0.5s;
}

.certificates__image:hover {
    transform: scale(1.2);
}


.projects {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.projects__slider {
    height: 300px;
    width: 50%;
    margin-right: 40px;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: var(--grey);
    margin-top: 40px;
    display: flex;
    font-size: 25px;
    color: var(--white);
    padding: 5px 0;
    justify-content: center;
}

.slider {
    position: relative;
    max-width: 100%;
}

.slider input[name="slider"] {
    display: none;
}

.slider__labels {
    position: absolute;
    left: 0;
    bottom: -35px;
    text-align: center;
    width: 100%;
}

.slider__labels_label {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 2px;
    border: 2px solid var(--darkGrey);
    transition: 0.2s;
}

.slider__labels_label:hover {
    transform: scale(1.1);
    background-color: var(--darkGrey);
}

#slide1:checked ~ .slider__labels_label[for="slide1"] {
    background-color: var(--white);
}

#slide2:checked ~ .slider__labels_label[for="slide2"] {
    background-color: var(--white);
}

#slide3:checked ~ .slider__labels_label[for="slide3"] {
    background-color: var(--white);
}

#slide4:checked ~ .slider__labels_label[for="slide4"] {
    background-color: var(--white);
}

#slide5:checked ~ .slider__labels_label[for="slide5"] {
    background-color: var(--white);
}

.slider__images_wrapper {
    overflow: hidden;
}

.slider__images {
    display: flex;
    width: 100%;
    transition: all 0.6s;
}

.slider__images_image {
    width: 100%;
    height: 290px;
    flex-shrink: 0;
    border-radius: 5px;
}

#slide1:checked ~ .slider__images_wrapper .slider__images {
    transform: translate(0);
}

#slide2:checked ~ .slider__images_wrapper .slider__images {
    transform: translateX(-100%);
}

#slide3:checked ~ .slider__images_wrapper .slider__images {
    transform: translateX(-200%);
}

#slide4:checked ~ .slider__images_wrapper .slider__images {
    transform: translateX(-300%);
}

#slide5:checked ~ .slider__images_wrapper .slider__images {
    transform: translateX(-400%);
}


@media screen and (max-width: 1550px) {
    .main__title {
        font-size: 28px;
        padding-top: 25px;
    }

    .person__info_description {
        font-size: 15px;
    }

    .navigation__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .person__photo_image {
        width: 100px;
        height: 100px;
    }

    .person__links_link {
        flex-direction: column;
        list-style-type: none;
    }

    .certificates {
        flex-direction: column;
    }

    .certificates__image {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 940px) {
    .person__info_title {
        font-size: 15px;
    }

    .person__info_label {
        font-size: 14px
    }

    .person__info_description {
        font-size: 10px;
    }

    .person__photo_image {
        width: 60px;
        height: 60px;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .projects__slider {
        width: 100%;
    }

    .social__link {
        font-size: 10px;
    }

    .navigation__title {
        font-size: 22px;
        background-color: var(--darkGrey);
    }

    .navigation {
        right: 80px;
    }
}


@media screen and (max-width: 750px) {
    .main__title {
        font-size: 28px;
        padding-top: 15px;
    }

    .main {
        padding: 5px 5px 5px 10px;
        box-shadow: 2px 3px 35px var(--shadow);
        border-radius: 5px;
        margin: 0 10px 0 10px;
    }

    .app {
        display: grid;
        grid-template-columns: 30% 60%;
    }

    .navigation {
        right: 120px;
    }

    .projects__slider {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .main__title {
        font-size: 25px;
        padding-top: 15px;
    }

    .certificates__image {
        width: 200px;
        height: 150px;
    }
}
